/*Generales*/

/*Header*/

/*Header*/

/*Side izquierda*/


/*Side izquierda*/

/*Side  main*/

/*Side main*/

/*Side derecha*/

.aside-blog__card-right {
    width: 352px;

    &.aside-blog__card-right--border-black {
        border-top: 35px solid #000;
    } 
    .card__profile-container {
        top: -32px;
        .main__card-title:hover {
            color: rgb(47, 58, 178);
            cursor: pointer;
        }
        .card__profile-image {
            width: 48px;
            height: 48px;
            border-radius: 10px;
        } 
    
    }

    .border__light-subtle {
        cursor: pointer;
        .text__link-title:hover {
            color: rgb(47, 58, 178);
        }
    }
    
    .link-underline-light:hover {
        color: rgb(47, 58, 178);
    }
}

.sticky__card {
    position: sticky;
    top: 20px;
}





/*Side derecha*/