/*Generales*/

/*Header*/

/*Header*/

/*Side izquierda*/

/*Side izquierda*/

/*Side  main*/

/*Side main*/

/*Side derecha*/

/*Side derecha*/


.main__categories {
    display: flex;
    list-style-type: none;
    background-color: ghostwhite;
}

.main__choices {
    padding: 10px;
}

.fram {
    display:flex;
    flex-direction: column;
    width: 100%;
}

.companies {
    width: 100%
}

.aside {
    background-color: black;
    display: none;
}

body {
    display: flex;
    flex-direction: row;
}

.username__date {
    display: flex;
}

.icon {
    display: inline-block;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 7px;
    margin-left: 18px;
}

h6 {
    font-size: 12px;
    margin-bottom: 0px;
}

span {
    font-size: 12px;
}

h4 {
    margin-left: 15px;
    margin-right:15px;
    margin-top: 9px;
}

.card__info {
    display: inline-block;
}

.emojis {
    display: flex;
    justify-content: space-between;
}